[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
psycopg2-binary = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"

[requires]
python_version = "3.8"
